{% extends "base.html" %}
{% block title %}Liste des CDs{% endblock %}
{% block content %}
    <h3>
        Liste des CD &nbsp;|&nbsp;
        <a href="{% url 'ajouter_cd' %}">Ajouter un CD</a>
    </h3>
    <ul>
        {% for cd in cds %}
        <li>
            <span>Nom : </span>{{ cd.nom }} - <span>Artiste : </span>{{cd.artiste }}
            {{ cd.disponible}}
            {% if cd.disponible %}
            <a href="{% url 'supprimer_cd' cd.id %}">Supprimer</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
